<h1>Welcome <%= user.username %></h1>

<form action="/create" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <button type="submit">Create</button>
</form>

<br>

<div>
    <% const folders = user.folders %>
        <% folders.map((folder) => { %>
            <% const name = folder.name.toLowerCase(); %>
            <li id="<%= folder.id %>">
                <a href="/folder/<%= name %>/<%= folder.id %>"><%= folder.name %></a> 
            </li>
    <% }) %>
</div>